#! /usr/bin/make -f

%:
	dh --with germinate $@

override_dh_auto_build:
	wget --spider --tries 1 'http://repo.ubports.com/dists/xenial/main/binary-amd64/Packages'
	germinate-update-metapackage --vcs

override_dh_auto_clean:
	-rm -f *-amd64 *-arm64 *-armhf
